server:
  port: 8762

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/springboot?serverTimezone=UTC
    username: root
    password: root

  application:
    name: Service-Provider
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

mybatis:
  configuration:
    auto-mapping-behavior: full

  mapper-locations: classpath:mapping/*.xml

logging:
  level:
    ycy:
      xxx:
        demo:
          dao: debug